@import "../../scss/variables";

header {
  display: flex;
  width: 100%;
  height: 10vh;
  border-bottom: 3px solid $border-grey-light;
  align-items: center;
  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 clamp(4px, 8vw, 80px);
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      li {
        margin: 0 0.75em;
        position: relative;
        button {
          text-decoration: none;
          display: flex;
          align-items: center;
          font-size: 1.25em;
          color: $font-grey-dark;
          background: none;
          border: none;
          cursor: pointer;
          &:hover {
            background: $background-grey-light;
          }
        }
      }
    }
  }
}

.logo {
  margin: auto 0;
  text-decoration: none;
  span {
    font-size: 20px;
    font-weight: 700;
    color: $font-dark;
    &:first-child {
      display: none;
    }
    &:last-child {
      display: block;
    }
  }
}
.user {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: $primary-color;
  color: $font-light;
  font-size: 0.78em;
  margin-left: 0.25em;
}
.cardUser {
  position: absolute;
  top: 125%;
  display: none;
  left: -100px;
  background: #fafafa;
  -webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
  .letter {
    height: 50px;
    width: 50px;
    border-radius: 30%;
    font-size: 1.3em;
  }
  .info {
    display: flex;
    font-size: 0.8em;
    .text {
      p {
        margin-top: 5px;
        margin-bottom: 0;
        margin-left: 10px;
        color: $font-dark;
      }
    }
  }
  hr {
    margin-top: 1em;
  }
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    padding-inline-start: 0 !important;
    font-size: 0.65em;
    margin-block-start: 0 !important;
    list-style: none;
    li {
      width: 100%;
      padding: 5px 0;
      margin: 0;
      button {
        width: 100%;
      }
      &:hover {
        background: $font-grey-light;
      }
    }
  }
}
.active {
  display: block;
}
@media (max-width: $media-breackpoint-up-sm) {
  .logo {
    span {
      &:first-child {
        display: block;
      }
      &:last-child {
        display: none;
      }
    }
  }
}
