@import "../../scss/variables";
.folder {
  height: 35px;
  width: 200px;
  padding: 0 10px;
  margin: 10px;
  text-align: left;
  background: none;
  transition: all 0.2s ease-in;
  border: 2px solid $border-grey-dark;
  border-radius: 7px;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $font-grey-dark;

  &:hover {
    background: $background-grey-dark;
    color: $font-light;
  }
  div {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  svg {
    margin-right: 7px;
  }
}
.folder_active {
  background: $background-grey-dark;
  color: $font-light;
}
