@import "../../scss/variables";
.folder {
  display: inline-block;
  height: 35px;
  width: 100%;
  padding: 0 10px;
  margin: 10px;
  text-align: left;
  background: none;
  transition: all 0.2s ease-in;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 2px solid $border-grey-dark;
  border-radius: 7px;
  cursor: pointer;

  &:hover {
    background: $background-grey-dark;
    div {
      color: $font-light;
    }
  }
  div {
    font-size: 1.25em;
    text-decoration: none;
    color: $font-grey-dark;
    white-space: nowrap;
    box-sizing: content-box;
    span {
      line-clamp: unset;
    }
    svg {
      margin-right: 7px;
    }
  }
}
